---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Mayo 2025",
    title: "Desarrollo Fullstack con IA",
    company: "Acteco Productos y Servicios S.L.",
    description:
      "Desarrollo completo de una plataforma interna de registro y control de palets para el almacén de Acteco Algeciras. Implementación con React, TailwindCSS, Node.js y MongoDB Atlas, integrando sockets en tiempo real, autenticación segura por roles, exportación a Excel y gestión por turnos. Todo desarrollado con apoyo de herramientas de IA generativa y metodologías modernas.",
    link: "https://acteco-algeciras.netlify.app/",
  },
  {
    date: "Julio 2024",
    title: "Desarrollo Frontend",
    company: "Barbería Casanova",
    description:
      "Desarrollo de una plataforma web para una barbería reconocida en la región, con un enfoque en la creación de interfaces intuitivas y adaptables. Mi función abarca la implementación de diseños web responsivos que optimicen la experiencia del usuario y promuevan la interacción eficiente con los servicios ofrecidos.",
    link: "https://barberiacasanova.com/",
  },
  {
    date: "Mayo 2023",
    title: "Desarrollo Frontend",
    company: "IAL - TransferWorld",
    description:
      "Enfoque en el desarrollo de una plataforma de compra-venta y alquiler de vehículos, así como en la importación automovilística. Mi labor incluye la creación de interfaces web intuitivas y responsivas para mejorar la experiencia del usuario.",
    link: "https://ial-transferworld.com/",
  },
  {
    date: "Noviembre 2022",
    title: "Desarrollo Frontend",
    company: "Health Excellence Clinic",
    description:
      "Encargado del desarrollo y mantenimiento de la plataforma web. Diseño y creación de componentes interactivos y responsivos para mejorar la experiencia del usuario. Implementación de la web en WordPress, asegurando un diseño adaptativo que cumpla con los estándares de accesibilidad y usabilidad requeridos por nuestros clientes del sector de fisioterapia.",
    link: "https://www.healthexcellenceclinic.com/",
  },
  {
    date: "Abril 2022",
    title: "Desarrollo Frontend",
    company: "Welcome House Appart Hotel ",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de la web. Creacion de la web en Wordpress, con un diseño responsive y adaptado a las necesidades del cliente.",
    link: "https://welcomeh.com/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
