---
const personalImageAlt = "Elias Hania";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "@/components/icons/GitHub.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/Elias2.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/ilyas-hania-anzit-1b3057230/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy El칤as
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    M치s de 5 a침os de experiencia como <strong
      >Programador asistido por IA</strong
    > en Algeciras, Espa침a 游쀯릖. Me especializo en el desarrollo de aplicaciones web
    modernas, combinando mis conocimientos de frontend y backend con herramientas
    de inteligencia artificial para acelerar procesos, optimizar c칩digo y mantener
    altos est치ndares de calidad en cada proyecto.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:eliashania@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/ilyas-hania-anzit-1b3057230/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/EliasHania">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
